{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Train</th>
                <th>Voyageur</th>
                <th>Date</th>
                <th>Frais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.numerotrain }}</td>
                <td>{{ reservation.numerovoyageur }}</td>
                <td>{{ reservation.datereservation ? reservation.datereservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.frais }}</td>
                <td>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
                    <a href="{{ path('reservation_delete', {'id': reservation.id}) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    <div align ="center">
        <a href="{{ path('reservation_new') }}"><button type="button" class="btn btn-primary btn-lg btn-block">AJOUTER</button></a>
    </div>
    {{ include("partials/footer.html.twig") }}
{% endblock %}
